.navBar {
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  align-items: center;

  display: flex;
}

.navBar ul {
  margin: 0;
  position: relative;
}

.navBar li {
  list-style-type: none;
  color: darkgrey;
  padding: 5px;
  margin: 5px 15px;
  display: inline-block;
}

.navBar li:hover {
  cursor: pointer;
  color: #fff;
}
